* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
  background-color: #ECE3D2;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-container {
  background-color: #1e3a8a;
  color: white;
  padding: 40px;
  width: 320px;
  border-radius: 10px;
  text-align: left;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.drop-icon {
  font-size: 40px;
  text-align: center;
  margin-bottom: 20px;
}

h2 {
  text-align: left;
  margin-bottom: 25px;
  letter-spacing: 1px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-size: 14px;
  color: #ddd;
}

input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  background: transparent;
  color: white;
  font-size: 16px;
  border-radius: 4px;
}

input::placeholder {
  color: #ccc;
}

.password-container {
  position: relative;
}

.toggle-password {
  position: absolute;
  right: 10px;
  top: 10px;
  cursor: pointer;
  font-size: 16px;
}

.noaccount {
  display: inline-block;
  text-align: right;
  width: 100%;
  font-size: 15px;
  color: #ddd;
  text-decoration: none;
  margin-bottom: 20px;
}

.noaccount:hover {
  text-decoration: underline;
}

.login-btn {
  width: 100%;
  padding: 10px;
  background: transparent;
  border: 1px solid white;
  color: white;
  font-size: 17px;
  cursor: pointer;
  transition: 0.3s;
  border-radius: 4px;
}

.login-btn:hover {
  background-color: white;
  color: #1e3a8a;
}
