* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
  background-color: #ECE3D2;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.register-container {
  background-color: #ec407a;
  color: white;
  padding: 40px;
  width: 320px;
  border-radius: 10px;
  text-align: left;
}

.drop-icon {
  font-size: 40px;
  text-align: center;
  margin-bottom: 20px;
}

h2 {
  text-align: left;
  margin-bottom: 25px;
  letter-spacing: 1px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-size: 14px;
  color: #f3f3f3;
}

input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: none;
  border: 1px solid #f1f1f1;
  background: transparent;
  color: white;
  font-size: 16px;
  border-radius: 3px;
}

input::placeholder {
  color: #f1f1f1;
}

.password-container {
  position: relative;
}

.toggle-password {
  position: absolute;
  right: 10px;
  top: 10px;
  cursor: pointer;
  font-size: 16px;
}

.confirm-pass {
  border: 1px solid #f1f1f1;
}

.register-btn {
  width: 100%;
  padding: 10px;
  background: transparent;
  border: 1px solid white;
  color: white;
  font-size: 17px;
  cursor: pointer;
  transition: 0.3s;
  border-radius: 3px;
}

.register-btn:hover {
  background-color: white;
  color: #ec407a;
}

.haveaccount {
  display: inline-block;
  text-align: right;
  width: 100%;
  font-size: 15px;
  color: #f3f3f3;
  text-decoration: none;
  margin-top: 10px;
}

.haveaccount:hover {
  text-decoration: underline;
}
